<div class="container my-4">
  <div class="feed-container" *ngFor="let feed of feeds">
    <span class="company-profile">
      <img src="{{ feed.profile_url }}" class="logo" />
      <span><p class="text-heading">{{ feed.user_profiles.first_name }}<br>{{ feed.created }}</p>
      <p class="created"></p></span>
    </span>
   
    <p class="subject-text">{{ feed.subject }}</p>
    <video autoplay muted onloadedmetadata="this.muted = true" controls *ngIf="feed.status_videos && feed.status_videos.length >0">
      <source *ngFor="let video of feed.status_videos"
        src="{{video}}"
        type="video/mp4"
      />
      <p>Your browser does not support the video element.</p>
    </video>
    <div class="status-photo-container" *ngIf="feed.status_medias && feed.status_medias.length >0">
      <img src="{{media}}" class="status-photo" *ngFor="let media of feed.status_medias">
    </div>
    <span>{{feed.like_count}} Likes<span class="fl-left">{{feed.comment_count}} comments {{feed.views_count}} views</span></span>
  </div>
</div>
